<template>
  <div>
    <mc-carousel v-if="toggle" place="manali" :image_index="images_index" :toggle="toggle"></mc-carousel>
    <mc-navbar></mc-navbar>
    <div class="breadcrumb"></div>
    <div class="row m-0">
      <!---->
      <div class="col-12 m-0 p-0 d-none d-lg-block">
        <div class="row m-0 p-0">
          <div class="col-6 p-0 imageviewer">
            <iframe
              id="youtube-video element"
              src="https://www.youtube.com/embed/Ztz9k9iemHQ?enablejsapi=1&amp;origin=https%3A%2F%2Fwww.mounty.co"
              allowfullscreen="allowfullscreen"
              mozallowfullscreen="mozallowfullscreen"
              msallowfullscreen="msallowfullscreen"
              oallowfullscreen="oallowfullscreen"
              webkitallowfullscreen="webkitallowfullscreen"
              class="full-width full-height no-border"
              data-v-4f6373dc
              data-gtm-yt-inspected-11012702_13="true"
            ></iframe>
          </div>
          <div class="col-6 imageviewer">
            <mc-image-viewer @preview_image="toggle_carousel($event)" place="manali"></mc-image-viewer>
          </div>
        </div>
        <button class="custom-button-class" @click="more_photos">See More Photos</button>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-xl-1 col-0"></div>
      <div class="col-xl-6 col-sm-10 col-12 p-40">
        <mc-bread-crumb></mc-bread-crumb>
        <mc-camp-details>
          <template #title>
            <h2>
              <b>Trolley River Crossing Camp</b>
            </h2>
          </template>
          <template #info>
            Away from the hustle and bustle of Manali town, Trolley River Crossing Camp is located about 7 km from the city centre along the Kullu-Manali Highway. Set up on the banks of Beas river, it is environed by tall deodar trees and mighty Himalayan mountains. Spread over a vast meadow, it offers all type of accommodation including Swiss tents, Alpine tents, and Deluxe huts & cottages. The camp also houses a multi-cuisine restaurant, banquet hall, and garden area. It also has a water pool where you can spend your leisure time or engage in boating and water zorbing. The camp offers various adventure activities like zipline, mountain bike ride, yak ride. Whether you are seeking thrills or enjoying bonding with your family and friends, it will give you an eco-friendly way to experience the beauty and majesty amidst nature.
            <br />
          </template>
          <template #amennties>
            <b-row>
              <b-col>CCTV Camera</b-col>
              <b-col>DJ</b-col>
            </b-row>
          </template>
          <template #inclusions>
            <b-row>
              <b-col>Breakfast ( Veg )</b-col>
              <b-col>Dinner ( Veg )</b-col>
            </b-row>
          </template>
          <template #complementary_activities>
            <b-row>
              <b-col>Badminton</b-col>
              <b-col>Carrom</b-col>
              <b-col>Ludo</b-col>
            </b-row>
          </template>
          <template #exclusions>
            <p>Anything which is not mentioned in the inclusions</p>
          </template>
          <template #things_to_carry>
            <b-row>
              <b-col>Cloths</b-col>
              <b-col>Power Bank</b-col>
            </b-row>
          </template>
          <template #how_to_reach>
            <p>The nearest Airport to Manali is Bhuntar Airport with a distance of approx. 42 Km from MOUNTY1014. The camper has to hire a taxi or take a bus from Airport ( via NH3 Highway ) to MOUNTY1014.</p>
          </template>
          <template #notes>
            <p>No Fire inside a Camp</p>
            <p>Use dustbins/dumpsters</p>
          </template>
        </mc-camp-details>
      </div>
      <div class="col-xl-4">
        <mc-camp-book></mc-camp-book>
      </div>
      <div class="col-xl-1 col-0"></div>
    </div>
    <mc-footer></mc-footer>
  </div>
</template>
<script>
export default {
  data() {
    return {
      toggle: false,
      images_index: null
    };
  },
  methods: {
    toggle_carousel(index) {
      this.toggle = true;
      this.images_index = index;
    },
    more_photos() {
      this.toggle = true;
      this.images_index = 0;
    }
  }
};
</script>
<style scoped>
.full-height {
  height: 100%;
  width: 100%;
}
.breadcrumb {
  display: -webkit-box;
  display: flex;
  background: #f6f6f6;
  height: 34px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  overflow-x: visible;
  white-space: nowrap;
  margin-bottom: 75px;
}
.imageviewer {
  padding: 0px;
}
.no-border {
  border: none;
}
.custom-button-class {
  position: absolute;
  margin-top: -52px !important;
  right: 16px;
  color: var(--mdc-theme-primary, #6200ee);
  cursor: pointer;
  font-size: 10px;
  font-weight: 600 !important;
  background-color: #fff !important;
  padding: 8px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  border-radius: 8px;
}
.p-40 {
    padding: 40px!important;
}
</style>