<template>
  <div class="breadcrumbs small-ft m-0 mb-0 row align-items-center">
    <a href="/#/redirect/India" class>
      <p class="small-ft medium-fw mb-0">India</p>
    </a>
    <i class="material-icons ml-8 mr-8">keyboard_arrow_right</i>
    <a href="/#/redirect/himachal-pradesh" class>
      <p class="small-ft medium-fw mb-0">Himachal Pradesh</p>
    </a>
    <i class="material-icons ml-8 mr-8">keyboard_arrow_right</i>
    <a href="/#/redirect/manali" class>
      <p class="small-ft medium-fw mb-0">Manali</p>
    </a>
  </div>
</template>

<script>
export default {
  name: "McBreadCrumb"
};
</script>