<template>
  <div
    v-if="toggle"
    class="light-box full-height row m-0 justify-content-center align-items-center"
  >
    <button
      class="round-border-big white black-bg m-0 p-0 close-button no-outline"
      @click="close_modal"
    >
      <i class="material-icons">close</i>
    </button>
    <div class="left col-auto p-0" v-if="!disable_prev_button">
      <button
        class="mdc-button round-border-big white-bg m-0 p-0 arrow-button no-outline"
        @click="prev_image"
      >
        <i class="material-icons md-24">keyboard_arrow_left</i>
      </button>
    </div>
    <img
      class="light-box-image round-border-big col-auto p-0"
      :src="images_data[place][image_index]"
    />
    <div class="right col-auto p-0" v-if="!disable_next_button">
      <button
        class="mdc-button round-border-big white-bg m-0 p-0 arrow-button no-outline"
        @click="next_image"
      >
        <i class="material-icons md-24">keyboard_arrow_right</i>
      </button>
    </div>
  </div>
</template>
<script>
import Images from "./Images.json";
export default {
  name: "McCarousel",
  props: {
    toggle: {
      type: Boolean,
      default: false
    },
    image_index: {
      type: Number,
      default: 0
    },
    place: {
      type: String
    }
  },
  data() {
    return {
      images_data: null,
      disable_prev_button: false,
      disable_next_button: false
    };
  },
  created() {
    this.images_data = Images;
  },
  methods: {
    close_modal() {
      this.toggle = false;
      this.image_index = 0;
    },
    prev_image() {
      if (this.image_index >= 0) this.image_index = this.image_index - 1;
      else this.disable_prev_button = true;
    },
    next_image() {
      if (this.image_index <= this.images_data[this.place].length - 1)
        this.image_index = this.image_index + 1;
      else this.disable_next_button = true;
    }
  }
};
</script>
<style scoped>
.light-box {
  height: -webkit-fill-available;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.79);
  z-index: 1000;
  top: 0;
}
.left {
  height: 54px;
  width: 54px;
  z-index: 100;
}
.arrow-button {
  height: 54px;
  min-width: 54px;
  border-radius: 100%;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.14) !important;
  background-color: #fff !important;
}

.m-0 {
  margin: 0 !important;
}
.full-height {
  height: 100% !important;
}
.align-items-center {
  -webkit-box-align: center !important;
  align-items: center !important;
}
.justify-content-center {
  -webkit-box-pack: center !important;
  justify-content: center !important;
}
.row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.close-button {
  height: 40px;
  min-width: 40px;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 100%;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.14) !important;
  color: #fff !important;
  background-color: #000 !important;
  outline: none;
}
.material-icons {
  font-family: Material Icons;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}
.light-box-image {
  height: 80%;
}
.round-border-big {
  border-radius: 24px;
}
.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
</style>