<template>
  <div>
    <div class="booking-panel m-48 round-border">
      <b-form>
        <div class="p-24" v-show="show_camp_type">
          <div class="row m-0 align-items-center">
            <div class="col p-0">
              <p class="regular-2-ft extra-light-fw mb-0">Select Camp Type</p>
              <p class="caption-ft mb-0">Which One?</p>
            </div>
            <div>
              <button
                class="mdc-button round-border-small m-0 p-16 inherit-height no-outline"
                @click.prevent="show_camp_type = !show_camp_type"
              >
                <i class="material-icons md-20 gray-500">cancel</i>
              </button>
            </div>
          </div>
          <template v-for="(camp,index) in campData">
            <div class="mt-24" :key="index">
              <div class="camps border round-border-small p-0 m-0">
                <div class="gray-bg-50 row m-0 p-16 align-items-center">
                  <div class="col p-0">
                    <p class="regular-ft medium-fw mb-4">{{camp.type}}</p>
                    <p class="caption-ft mb-0">{{camp.facility}}</p>
                  </div>
                  <div>
                    <button
                      class="mdc-button mdc-button--raised accent-bg round-border-small p-12 ml-16 inherit-height no-outline"
                      @click.prevent="camp_stay_type(index)"
                    >
                      <span class="overline-ft bold-fw white">Select</span>
                    </button>
                  </div>
                </div>
                <div class="border-top p-16" v-if="camp.amenities">
                  <p class="caption-ft medium-fw mb-8">Amenities</p>
                  <template v-for="(amnty, amnty_index) in camp.amenities">
                    <p
                      class="caption-ft m-0 mb-8 row align-items-center"
                      v-if="amnty_index < 2"
                      :key="amnty_index"
                    >
                      <i class="material-icons md-18 mr-8">done</i>
                      {{amnty}}
                    </p>
                    <p
                      v-else
                      class="overline-ft m-0"
                      :key="amnty_index"
                    >and {{amnty_index.length - 1}} more...</p>
                  </template>
                </div>
              </div>
            </div>
          </template>
        </div>
        <div class="p-0" v-show="!show_camp_type">
          <div class="p-24">
            <p class="title-ft light-fw m-0">
              ₹857
              <span class="caption-ft">/ Camper / Night</span>
            </p>
            <p class="caption-ft mt-16 mb-8">Dates</p>
            <date-range-picker
              opens="center"
              :locale-data="{ firstDay: 1, format: 'DD-MM-YYYY' }"
              :showDropdowns="true"
              :autoApply="true"
              :showWeekNumbers="false"
              v-model="dateRange"
              :min-date="minDate"
              :max-date="maxDate"
              @update="datesSelected"
            >
              <div slot="input" slot-scope="picker" style="min-width: 233px;">
                <template v-if="picker.startDate">{{format_date(picker.startDate)}}</template>
                <template v-else>checkIn</template> -
                <template v-if="picker.endDate">{{format_date(picker.endDate)}}</template>
                <template v-else>checkOut</template>
              </div>
            </date-range-picker>

            <div class="mt-16">
              <p class="caption-ft mb-8">Campers</p>
              <div
                class="mdc-text-field mdc-text-field--outlined mdc-text-field--no-label full-width campers"
              >
                <b-input-group class="md-14 p-8">
                  <b-form-input disabled style="height: 46px;" v-model="members_count"></b-form-input>
                  <b-input-group-append>
                    <b-button @click="edit_members('remove')" variant="outline-secondary">
                      <i class="material-icons md-14 p-8">remove</i>
                    </b-button>
                    <b-button @click="edit_members('add')" variant="outline-secondary">
                      <i class="material-icons md-14 p-8">add</i>
                    </b-button>
                  </b-input-group-append>
                </b-input-group>
              </div>
            </div>
            <div class="mt-24">
              <div class="camps p-0 m-0" v-if="select_camp_type">
                <div class="gray-bg-50 round-border border row m-0 p-16 align-items-center">
                  <div class="col p-0">
                    <p class="regular-ft medium-fw mb-4">{{campData[camp_stay_index].type}}</p>
                    <p class="caption-ft mb-0">{{campData[camp_stay_index].facility}}</p>
                  </div>
                  <div>
                    <button
                      class="mdc-button gray-bg-100 border round-border-small p-12 ml-16 inherit-height no-outline"
                      @click.prevent="select_camp"
                    >
                      <span class="overline-ft regular-fw">Change</span>
                    </button>
                  </div>
                </div>
                <div class="row m-0 align-items-center mt-16 p-4 pr-4">
                  <div class="col p-0">
                    <p class="regular-2-ft extra-light-fw mb-0">Select Arrangement</p>
                    <p class="caption-ft mb-0">Choose Camps</p>
                  </div>
                  <div>
                    <button
                      class="mdc-button mdc-button--raised accent-bg round-border-small p-8 ml-16 inherit-height no-outline"
                      @click.prevent="add_camps"
                    >
                      <i class="material-icons md-20 mr-8 white">add</i>
                      <span class="overline-ft bold-fw white pr-8">Camp</span>
                    </button>
                  </div>
                </div>
                <div class="col m-0 p-0">
                  <div class="row align-items-center p-16 m-0 mt-16 border gray-bg-50 round-border">
                    <div class="col-4 p-0">
                      <p class="caption-ft medium-fw mb-0 mr">Camps</p>
                    </div>
                    <div class="col-3 p-0">
                      <p class="caption-ft medium-fw mb-0 mr pl-4">10+ Yrs</p>
                    </div>
                    <div class="col-3 p-0">
                      <p class="caption-ft medium-fw mb-0 mr pl-4">5-10 Yrs</p>
                    </div>
                    <div class="col-2 p-0"></div>
                  </div>
                  <template v-for="(camp, index) in camps">
                    <div
                      class="row align-items-center px-2 m-0 border-bottom round-border"
                      :key="index"
                    >
                      <div class="col-4 p-0 pl-16">
                        <p class="overline-ft mb-0 mr">Camp {{index+1}}</p>
                        <p class="caption-ft medium-fw mb-0">₹{{camp.price()}}</p>
                      </div>
                      <div class="col-3 p-0">
                        <div
                          class="mdc-select inherit-width p-0 caption-ft border-right border-left"
                        >
                          <i class="mdc-select__dropdown-icon"></i>
                          <select
                            v-model="camp.adult_current"
                            class="mdc-select__native-control p-0 pl-16 small-ft"
                            @change.prevent="add_campers"
                          >
                            <option
                              :key="aCount"
                              v-for="aCount in camp.adult_count"
                              :value="aCount"
                            >{{aCount}}</option>
                          </select>
                          <div class="mdc-line-ripple"></div>
                        </div>
                      </div>
                      <div class="col-3 p-0">
                        <div class="mdc-select inherit-width p-0 caption-ft border-right">
                          <i class="mdc-select__dropdown-icon"></i>
                          <select
                            v-model="camp.child_current"
                            class="mdc-select__native-control p-0 pl-16 small-ft"
                            @change="add_campers_childs"
                          >
                            <option value="0">0</option>
                            <option
                              :key="cCount"
                              v-for="cCount in camp.child_count()"
                              :value="cCount"
                            >{{cCount}}</option>
                          </select>
                          <div class="mdc-line-ripple"></div>
                        </div>
                      </div>
                      <div class="col-2 p-0">
                        <button
                          class="mdc-button round-border-small m-0 p-8 ml-8 inherit-height remove-button no-outline"
                          @click.prevent="remove_campers(index)"
                        >
                          <i class="material-icons md-18 gray-500">clear</i>
                        </button>
                      </div>
                    </div>
                  </template>

                  <div v-if="members<2" class="row align-items-center m-0 mt-24 mb-8">
                    <p
                      class="round-border mt-24 caption-ft bold-fw p-16 text-center gray-bg-200"
                    >A Minimum of 2 Campers are required for this Camp. You may add a Camp or increase the Number of Persons</p>
                  </div>
                </div>
                <!---->
              </div>
            </div>
            <!---->
            <!---->
            <div class="row mt-16">
              <p class="caption-ft medium-fw col gray-700 mb-0 text-center">Total: ₹{{price}}</p>
            </div>
            <center>
              <b-button @click.prevent="book_camp" :disabled="members<2" class="btn btn-secondary btn-block mt-2">Book</b-button>
            </center>
            <div class="row justify-content-center mt-16">
              <p class="caption-ft light-fw mb-8 row align-items-center">
                <i class="material-icons md-20 mr-8">alarm</i>Confirmation in 2 Working Hours
              </p>
            </div>
          </div>
          <!---->
          <!---->
          <!---->
        </div>
      </b-form>
    </div>
    <div class="gray-bg-100 round-border p-32 m-48">
      <p class="regular-ft regular-fw mb-8">What happens after Booking?</p>
      <p
        class="caption-ft"
      >Once you go through with the Booking, we confirm your Booking and then Experience Manager will get in touch providing further details and answer any queries</p>
      <p class="regular-ft regular-fw mb-8 mt-24">What's with the Confirmation time?</p>
      <p
        class="caption-ft"
      >It usually doesn't take that long but we confirm your booking after making sure everything is in place so as to provide you with the best experience possible.</p>
      <p class="regular-ft regular-fw mb-8 mt-24">About the Cancellation thing,</p>
      <p class="caption-ft">Fully refundable 7 Days before the date of Experience</p>
    </div>
  </div>
</template>

<script>
/**
 * ac date range picker component
 * @requires vue2-daterange-picker https://github.com/Innologica/vue2-daterange-picker
 */
import dateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import CampData from "./CampData.json";
const DEFAULT_CAMP = {
  price: function() {
    return 857 * 3;
  },
  adult_count: 3,
  child_count: function() {
    return this.adult_count - this.adult_current;
  },
  adult_current: 3,
  child_current: 0
};
// Import moment for date conversion
import moment from "moment";
export default {
  name: "McCampBook",
  components: {
    dateRangePicker
  },
  data() {
    return {
      dateRange: {},
      members: 3,
      child_members: 0,
      show_camp_type: false,
      select_camp_type: false,
      campData: null,
      camp_stay_index: 0,
      camps: [],
      minDate: moment().add(1, "days"),
      maxDate: moment()
        .add(1, "years")
        .calendar()
    };
  },
  created() {
    this.campData = CampData.manali;
    let min_camp = {
      adult_count: this.members,
      child_count: function() {
        return this.adult_count - this.adult_current;
      },
      adult_current: this.members,
      child_current: this.child_members,
      price: function() {
        return 857 * this.adult_current + 900 * this.child_count();
      }
    };
    this.camps.push(min_camp);
  },
  methods: {
    format_date(date) {
      return moment(date).format("DD/MM/YYYY");
    },
    edit_members(type) {
      if (type == "remove" && this.members > 2) {
        this.members = this.members - 1;
        if(this.camps[this.camps.length-1].adult_current > 1){
          this.camps[this.camps.length-1].adult_current = this.camps[this.camps.length-1].adult_current -1;
        }else{
          this.camps.pop();
        }

      } else if (type == "add") {
        this.members = this.members + 1;
        var _this = this;
        var add_members_recursive = function(index) {
          if (_this.camps[index].adult_current < 3) {
            _this.camps[index].adult_current =
              _this.camps[index].adult_current + 1;
            return true;
          } else {
            index = index + 1;
            if (index < _this.camps.length) {
              add_members_recursive(index);
            } else {
              {
                var create_camp = {
                  price: function() {
                    return 857 * this.adult_current;
                  },
                  adult_count: 3,
                  child_count: function() {
                    return this.adult_count - this.adult_current;
                  },
                  adult_current: 1,
                  child_current: 0
                };
                _this.camps.push(create_camp);
              }
              return false;
            }
          }
        };
        add_members_recursive(0);
        //   if (status === "added") {
        //     ;
        //   } else
      }
    },
    book_camp() {
      alert("Booking submitted");
    },
    datesSelected() {
      this.select_camp_type = true;
    },
    select_camp() {
      this.show_camp_type = true;
    },
    camp_stay_type(index) {
      this.camp_stay_index = index;
      this.show_camp_type = false;
    },
    add_camps() {
      this.camps.push(DEFAULT_CAMP);
      this.add_campers();
      this.add_campers_childs();
    },
    add_campers() {
      let no_of_adults = 0;
      this.camps.forEach(element => {
        no_of_adults = no_of_adults + element.adult_current;
      });
      this.members = no_of_adults;
    },
    add_campers_childs() {
      let no_of_children = 0;
      this.camps.forEach(element => {
        no_of_children = no_of_children + element.child_current;
      });
      this.child_members = no_of_children;
    },
    remove_campers(index) {
      if (index != 0) this.camps.splice(index, 1);
      this.add_campers();
      this.add_campers_childs();
    }
  },
  computed: {
    members_count() {
      if (this.child_members) {
        var rtn =
          this.members + " Adults And " + this.child_members + " Children";
        return rtn;
      } else return this.members + " Adults";
    },
    price() {
      return this.members * 857;
    }
  }
};
</script>

<style scoped>
.booking-panel {
  border: 0.6px solid #dadee2;
}
.m-48 {
  margin: 48px !important;
}
.round-border {
  border-radius: 16px;
  border: 1px solid #f1f1f1;
}
.p-0 {
  padding: 0 !important;
}
.p-24 {
  padding: 24px !important;
}
.title-ft {
  font-size: 24px;
}
.subtitle-ft,
.title-ft {
  color: #424242;
  font-weight: 700;
}
.light-fw {
  font-weight: 400 !important;
}
.m-0 {
  margin: 0 !important;
}
.caption-ft {
  font-size: 12px;
}
.caption-ft,
.overline-ft {
  color: #616161;
  font-weight: 400;
}
.mt-16 {
  margin-top: 16px !important;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0;
}
.mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--textarea) {
  border-bottom-color: rgba(0, 0, 0, 0.12);
}
.campers {
  height: 48px;
}
.regular-ft {
  font-size: 15px;
  color: #212121;
}
.medium-fw {
  font-weight: 600 !important;
}
.mb-4 {
  margin-bottom: 4px !important;
}
.gray-bg-50 {
  background-color: #fafafa !important;
}
.p-16 {
  padding: 16px !important;
}
.mt-24 {
  margin-top: 24px !important;
}
*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
}
.pr-4 {
  padding-right: 4px !important;
}

.p-4 {
  padding: 4px !important;
}
.mdc-button--raised:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.mdc-button:active {
  outline: none;
}
.accent-bg {
  background-color: #c51162 !important;
}
.material-icons.md-20 {
  font-size: 20px;
}
.white {
  color: #fff !important;
}
.mr-8 {
  margin-right: 8px !important;
}
.overline-ft {
  font-size: 10px;
}
.bold-fw {
  font-weight: 700 !important;
  position: relative;
  top: -5px;
  font-size: 12px;
}
.pr-8 {
  padding-right: 8px !important;
}
.ml-16 {
  margin-left: 16px !important;
}

.inherit-height {
  height: inherit !important;
}
.round-border-small {
  border-radius: 8px;
}
.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}
.pl-16 {
  padding-left: 16px !important;
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.mdc-select:not(.mdc-select--disabled) {
  background-color: #fff;
}
.inherit-width {
  width: inherit !important;
  min-width: inherit !important;
}
.mdc-select,
.mdc-select__native-control {
  border-radius: 4px 4px 0 0;
}
.border-left {
  border-left: 1px solid #dee2e6 !important;
}
.border-right {
  border-right: 1px solid #dee2e6 !important;
}
.primary-bg {
  background-color: #ff6d00 !important;
}

.p-12 {
  padding: 12px !important;
}
.inherit-height {
  height: inherit !important;
}
.full-width {
  width: 100% !important;
}

.round-border-small {
  border-radius: 8px;
}
.gray-bg-100 {
  background-color: #f5f5f5 !important;
}
.p-32 {
  padding: 32px !important;
}
select.mdc-select__native-control.p-0.pl-16.small-ft {
  padding: 10px !important;
  background: #fff;
}
.mdc-button {
  background: #fff;
  border: 1px solid #f1f1f1;
}
.btn-secondary {
  color: #fff;
  background-color: #ff6d00 !important;
  border-color: #ff6d00 !important;
}
</style>