<template>
  <div>
    <slot name="title"></slot>
    <div class="section">
      <slot name="info"></slot>
    </div>
    <div class="section">
      <slot name="camp_facilities"></slot>
    </div>
    <div class="section">
      <h6>
        <b>Amenities</b>
      </h6>
      <slot name="amennties"></slot>
    </div>
    <div class="section">
      <h6>
        <b>Inclusions</b>
      </h6>
      <slot name="inclusions"></slot>
    </div>
    <div class="section">
      <h6>
        <b>Complementary Activities</b>
      </h6>
      <slot name="complementary_activities"></slot>
    </div>
    <div class="section">
      <h6>
        <b>Exclusions</b>
      </h6>
      <slot name="exclusions"></slot>
    </div>
    <div class="section">
      <h6>
        <b>Things to Carry</b>
      </h6>
      <slot name="things_to_carry"></slot>
    </div>
    <div class="section">
      <h6>
        <b>How to Reach</b>
      </h6>
      <slot name="how_to_reach"></slot>
    </div>
    <div class="section">
      <h6>
        <b>Notes</b>
      </h6>
      <slot name="notes"></slot>
    </div>
    <div class="mt-40 mb-40 d-xl-none"></div>
  </div>
</template>
<script>
export default {
  name: "McCampDetails"
};
</script>
<style>
.section {
  margin-top: 24px;
}
</style>