<template>
  <footer class="custom-footer border-top mt-24 m-0">
    <div class="row justify-content-center">
      <a href="/#/redirect/Home" class="mr-32">
        <p class="caption-ft bold-fw">Home</p>
      </a>
      <a href="/#/redirect/Destinations" class="mr-32">
        <p class="caption-ft bold-fw">Destinations</p>
      </a>
      <a href="/#/redirect/Blog" class="mr-32">
        <p class="caption-ft bold-fw">Blog</p>
      </a>
      <a href="/#/redirect/List of Partners" class="mr-32">
        <p class="caption-ft bold-fw">List with Us</p>
      </a>
      <a href="/#/redirect/About-Us" class="mr-32">
        <p class="caption-ft bold-fw">About Us</p>
      </a>
      <a href="/#/redirect/Careers" class="mr-32">
        <p class="caption-ft bold-fw">Careers</p>
      </a>
      <a href="/#/redirect/Support" class="mr-32">
        <p class="caption-ft bold-fw">Contact Us</p>
      </a>
      <a href="/#/redirect/privacy-policy" class="mr-32">
        <p class="caption-ft bold-fw">Privacy Policy</p>
      </a>
      <a href="/#/redirect/terms-and-conditions" class="mr-32">
        <p class="caption-ft bold-fw">Terms and Conditions</p>
      </a>
    </div>
<br>
    <div class="row m-0 justify-content-center mr-32">
      <a href="https://www.facebook.com/mountycamps" target="blank" class="inherit-height">
        <div tabindex="0" class="mr-32">
          <div class="caption-ft medium-fw">
            <img
              class="image-custom"
              data-src="/facebook.png"
              src="../assets/facebook.png"
              lazy="loaded"
            />
          </div>
        </div>
      </a>
      <a href="https://instagram.com/mounty.camps" target="blank" class="inherit-height">
        <div tabindex="0" class="mr-32 p-12 mr-8">
          <div class="caption-ft medium-fw">
            <img
              class="image-custom"
              data-src="/instagram.png"
              src="../assets/instagram.jpeg"
              lazy="loaded"
            />
          </div>
        </div>
      </a>
      <a href="https://twitter.com/mountycamps" target="blank" class="inherit-height">
        <div tabindex="0" class="mr-32 p-12 mr-8">
          <div class="caption-ft medium-fw">
            <img
              class="image-custom"
              data-src="/twitter.png"
              src="../assets/twitter.png"
              lazy="loaded"
            />
          </div>
        </div>
      </a>
      <a
        href="https://api.whatsapp.com/send?phone=919881698819"
        target="blank"
        class="inherit-height"
      >
        <div tabindex="0" class="mr-32 p-12 mr-8">
          <div class="caption-ft medium-fw">
            <img
              class="image-custom"
              data-src="/whatsapp.png"
              src="../assets/whatsapp.jpeg"
              lazy="loaded"
            />
          </div>
        </div>
      </a>
    </div><br>
    <p class="caption-ft text-center mr-32">© 2019 Mounty. All rights reserved.</p>
  </footer>
</template>
<script>
export default {
  name: "McFooter"
};
</script>
<style scoped>
.custom-footer {
  background-color: #fafafa !important;
  padding: 48px !important;
}
row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.mr-32 {
  margin-right: 32px !important;
}
.caption-ft {
  font-size: 12px;
}
.caption-ft,
.overline-ft {
  color: #616161;
  font-weight: 400;
}
.bold-fw {
  font-weight: 700 !important;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.image-custom {
  width: 50px;
}
</style>