<template>
  <div v-if="images_data.hasOwnProperty(place)">
    <div class="row">
      <div class="col-6 p-0" @click="preview_image(0)">
        <img class="full-width full-height element" :src="images_data[place][0]" />
      </div>
      <div class="col-6 p-0 d-none d-lg-block" @click="preview_image(1)">
        <img class="full-width full-height element" :src="images_data[place][1]" />
      </div>
      <div class="row">
        <div class="col-6 p-0" @click="preview_image(2)">
          <img class="full-width full-height element" :src="images_data[place][2]" />
        </div>
        <div class="col-6 p-0 d-none d-lg-block" @click="preview_image(3)">
          <img class="full-width full-height element" :src="images_data[place][3]" />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Images from "./Images.json";

export default {
  name: "McImageViewer",
  props: {
    place: {
      type: String
    }
  },
  data() {
    return {
      images_data: null
    };
  },
  created() {
    this.images_data = Images;
  },
  methods: {
    preview_image(index) {
      this.$emit("preview_image", index);
    }
  }
};
</script>
<style scoped>
.imageborder {
  border: 1px solid #000;
}
.full-height {
  height: 100%;
  width: 100%;
}
.element {
  outline: 1.8px solid #222;
  outline-offset: -1.8px;
}

</style>