<template>
  <div>
    <b-navbar variant="white" type="white" class="sticky-top">
      <b-navbar-brand href="#">
        <img
          width="50px"
          height="50px"
          src="../assets/camp.jpg"
          class="d-inline-block align-top"
          alt="camp"
        />
      </b-navbar-brand>
      <b-navbar-nav>
        <b-nav-form>
          <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
        </b-nav-form>
      </b-navbar-nav>
      <b-navbar-nav class="ml-auto">
        <b-nav-item href="/#/redirect/Destinations">Destinations</b-nav-item>
        <b-nav-item href="/#/redirect/Call US">Call +91 73036 58480</b-nav-item>
        <b-nav-item href="/#/redirect/Login">Log in</b-nav-item> 
      </b-navbar-nav>
    </b-navbar>
  </div>
</template>
<script>
export default {
  name: "McNavbar"
};
</script>
<style scoped>
.sticky-top{
   box-shadow: 0 15px 40px -20px rgba(40,44,63,.15);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: #fff;
    z-index: 999;
    will-change: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease,-webkit-transform .3s ease;
    contain: size layout style;
}
</style>